body,
html {
  height: 100%;
}

body {
  text-align: center;
  background: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

h1 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 2px black;
  font-size: 50px;
  text-shadow: black;
}
.emoji {
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
  box-shadow: none;
  border-color: transparent;
  display: block;
  margin: 0px auto;
}

.lives {
  margin: auto;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 10px;
  display: inline-block;
}
.hints-container {
  display: inline-block;
  margin-left: 10px;
}
.hints {
  display: inline-block;
  font-size: 12px;
  margin: 0px 0.5px 10px 0.5px;
}
.hints:hover {
  cursor: pointer;
}
.timer {
  color: white;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}
.display-scores {
  color: white;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dark-mode {
  color: white;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.safe-click {
  background-color: #56210d;
  color: white;
  cursor: pointer;
  height: 20px;
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.mega-hint {
  background-color: #af6f09;
  color: white;
  cursor: pointer;
  height: 20px;
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.manual-mode {
  background-color: #3a4862;
  color: white;
  cursor: pointer;
  height: fit-content;
  font-size: 15px;
  width: fit-content;
  display: inline-block;
  margin: auto;
  margin-top: 10px;
}
.mines-to-place {
  color: white;
  display: inline;
}
.level {
  width: 80px;
  height: fit-content;
  margin: 10px 10px;
  background-color: #be8c1e;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
}
table,
th,
td {
  border-collapse: collapse;
}
table {
  table-layout: fixed;
  margin: auto;
}
td {
  background-color: #6b7211;
  color: white;
}
table td {
  transition: 0.5s;
  border: 1px solid white;
  table-layout: fixed;
  background-origin: border-box;
  height: 30px;
  width: 30px;

  cursor: pointer;
}
table td:hover {
  background-color: #808813;
}
.score-board {
  width: fit-content;
  height: fit-content;
  background-color: #281909;
  margin: 10px auto;
  border: 1px white double;
  /* display: none; */
}
.score-board h2 {
  color: white;
  font-size: 11px;
  margin-bottom: 2px;
  padding: 7px;
}
.score-board p {
  margin-top: 1px;
  color: white;
  padding-bottom: 7px;
  font-size: 10px;
}
.footer {
  background-color: #808813;
  padding-top: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  color: white;
  text-align: center;
}
.mega-hint-mode {
  cursor: crosshair;
}
.darkMode {
  text-align: center;
  background: url("../img/dark-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  filter: grayscale(100%);
}
.dark-mode table td {
  background-color: black;
}
